<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="netTcp">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="wsHttp" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52263/ComputerWeb.svc/ComService"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="SampleService.ICalculatorService"
                name="wsHttp">
                <identity>
                    <userPrincipalName value="SKC\Krithin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52263/ComputerWeb.svc" binding="wsDualHttpBinding"
                bindingConfiguration="netTcp" contract="SampleService.IFileService"
                name="netTcp" />
        </client>
    </system.serviceModel>
</configuration>