<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\sss\source\repos\calculatorservice\computerhost\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="c:\users\sss\source\repos\calculatorservice\computerhost\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<diagnostics performanceCounters="ServiceOnly">
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                            logMessagesAtTransportLevel="true" />
                        <endToEndTracing messageFlowTracing="true" />
        </diagnostics>
        
		<bindings>
			<wsHttpBinding></wsHttpBinding>
			<netTcpBinding>			
				<binding name="tcpBind"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" listenBacklog="50"
                    maxConnections="50"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                    maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
			
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
            <service behaviorConfiguration="mexBehavior" name="ComputerService.ComService">
                <endpoint address="ComService" binding="wsHttpBinding" name="wsHttp"
                            contract="CalculatorLibrary.ICalculatorService" />
                <endpoint address="ComService" binding="netTcpBinding" bindingConfiguration="tcpBind"
                            name="netTcp" contract="CalculatorLibrary.IFileService" />
                <endpoint address="net.tcp://localhost:8091/mex" binding="mexTcpBinding"
                name="netTcpMex" contract="IMetadataExchange" />	   
                <host>
                 <baseAddresses>
                  <add baseAddress="http://localhost:8082/" />
                  <add baseAddress="net.tcp://localhost:8090" />
                 </baseAddresses>
                </host>
            </service>
        </services>
	</system.serviceModel>
</configuration>